<template>
  <div class="dashboard">
    <h1>This is the dashboard view</h1>
    <p>You should only get here if you're authenticated!</p>
    <p v-if="email">Your email address is {{ email }}</p>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    computed: {
      email() {
        return !this.$store.getters.user ? false : this.$store.getters.user.email;
      }
    },
    created() {
      this.$store.dispatch('fetchUser');
    }
  }
</script>

<style lang="scss">
  
</style>

