<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <h2>Here is a Map</h2>
    <TravelMap class="travel-map"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import TravelMap from "@/components/TravelMap";

export default {
  name: "home",
  components: {
    HelloWorld,
    TravelMap
  }
};
</script>

<style lang="scss" scoped>
  .travel-map {
    height: 400px;
  }
</style>

