<template>
  <div class="login">
    <form novalidate class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-20 md-small-size-100">
            <md-card-header>
                <div class="md-title">Login</div>
            </md-card-header>
            <md-card-content>
                <md-field :class="getValidationClass('email')">
                    <label for="email">Email</label>
                    <md-input
                        type="email" 
                        name="email" 
                        id="email" 
                        autocomplete="email" 
                        v-model="form.email" 
                        :disabled="sending"
                        @blur="$v.form.email.$touch()"
                         />
                    <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
                    <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
                </md-field> 
                <md-field :class="getValidationClass('password')">
                    <label for="password">Password</label>
                    <md-input 
                        type="password" 
                        name="password" 
                        id="password" 
                        autocomplete="password" 
                        v-model="form.password" 
                        :disabled="sending" 
                        @blur="$v.form.password.$touch()"
                        />
                    <span class="md-error" v-if="!$v.form.password.required">The password is required</span>
                </md-field>
            </md-card-content>
            <md-card-actions md-alignment="left">
                <md-button type="submit" class="md-primary md-raised" :disabled="$v.$invalid">Log me in</md-button>
            </md-card-actions>
            <div class="md-card-footer">
                <p>Not registered yet?
                    <router-link to="/register">Register here</router-link>
                </p>
            </div>
        </md-card>
    </form>
  </div>
</template>

<script>
    import { required, email } from 'vuelidate/lib/validators';

    export default {
        data() {
            return {
                sending: false,
                form: {
                    email: null,
                    password: null
                }
            }
        },
        methods: {
            validateUser () {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    this.login();
                }
            },             
            login() {
                const formData = {
                    email: this.form.email,
                    password: this.form.password
                };
                this.$store.dispatch('login', {email: formData.email, password: formData.password});
            },
            getValidationClass (fieldName) {
                const field = this.$v.form[fieldName];

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },            
        },
        validations: {
            form: {
                email: {
                    required,
                    email
                },
                password: {
                    required
                }                
            }
        }
    }
</script>

<style lang="scss">
    .md-layout {
        justify-content: center;
    }
</style>


