<template>
  <div class="register">
    <form novalidate class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-30 md-small-size-100">
            <md-card-header>
                <div class="md-title">Register as new User</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field :class="getValidationClass('firstName')">
                            <label for="first-name">First Name*</label>
                            <md-input 
                                name="first-name" 
                                id="first-name" 
                                autocomplete="given-name" 
                                v-model="form.firstName" 
                                :disabled="sending" 
                                @blur="$v.form.firstName.$touch()"
                                />
                            <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                            <span class="md-error" v-else-if="!$v.form.firstName.minLen">Invalid first name. The minimum length of the name is three characters.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-small-size-100">
                        <md-field :class="getValidationClass('lastName')">
                            <label for="last-name">Last Name*</label>
                            <md-input 
                                name="last-name" 
                                id="last-name" 
                                autocomplete="family-name" 
                                v-model="form.lastName" 
                                :disabled="sending"
                                @blur="$v.form.lastName.$touch()" 
                                />
                            <span class="md-error" v-if="!$v.form.lastName.required">The last name is required</span>
                            <span class="md-error" v-else-if="!$v.form.lastName.minLen">Invalid last name. The minimum length of the name is three characters.</span>
                        </md-field>
                    </div>
                </div>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                        <md-field :class="getValidationClass('email')">
                            <label for="email">Email*</label>
                            <md-input 
                                type="email" 
                                name="email" 
                                id="email" 
                                autocomplete="email" 
                                v-model="form.email" 
                                :disabled="sending" 
                                @blur="$v.form.email.$touch()" 
                                />
                            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
                            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
                            <span class="md-error" v-else-if="!$v.form.email.unique">Email address is already taken.</span>
                        </md-field> 
                    </div>
                    <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field :class="getValidationClass('age')">
                            <label for="age">Age*</label>
                            <md-input 
                                type="age" 
                                name="age" 
                                id="age" 
                                autocomplete="age" 
                                v-model="form.age" 
                                :disabled="sending" 
                                @blur="$v.form.age.$touch()" 
                                />
                            <span class="md-error" v-if="!$v.form.age.required">The age is required</span>
                            <span class="md-error" v-else-if="!$v.form.age.numeric">Age needs to be a number</span>
                            <span class="md-error" v-else-if="!$v.form.age.minVal">You have to be at least {{ $v.form.age.$params.minVal.min }} years old!</span>
                        </md-field>
                    </div>
                </div>

                <md-field :class="getValidationClass('password')">
                    <label for="password">Password*</label>
                    <md-input 
                        type="password" 
                        name="password" 
                        id="password" 
                        autocomplete="password" 
                        v-model="form.password" 
                        :disabled="sending" 
                        @blur="$v.form.password.$touch()"
                        />
                    <span class="md-error" v-if="!$v.form.password.required">The password is required</span>
                </md-field> 
                <md-field :class="getValidationClass('c_password')">
                    <label for="c_password">Password confirmation*</label>
                    <md-input 
                        type="password" 
                        name="c_password" 
                        id="c_password" 
                        v-model="form.c_password" 
                        :disabled="sending" 
                        @blur="$v.form.c_password.$touch()"
                        />
                    <span class="md-error" v-if="!$v.form.c_password.sameAs">The passwords do not match!</span>
                </md-field>                               
            </md-card-content>

            <md-card-actions md-alignment="left">
                <md-button type="submit" class="md-primary md-raised" :disabled="$v.$invalid">Register me</md-button>
            </md-card-actions>            
        </md-card>

        <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
    </form>
  </div>
</template>

<script>
    import { required, email, numeric, minLength, minValue, sameAs } from 'vuelidate/lib/validators';
    import axios from "axios";

    export default {
        data() {
            return {
                sending: false,
                form: {
                    firstName: null,
                    lastName: null,
                    email: null,
                    age: null,
                    password: null,
                    c_password: null
                },
                userSaved: false,
                lastUser: null
            }
        },
        methods: {
            validateUser () {
                this.$v.$touch();

                if (!this.$v.$invalid) {
                    this.register();
                }
            },            
            register() {
                const formData = {
                    firstName: this.form.firstName,
                    lastName: this.form.lastName,
                    email: this.form.email,
                    age: this.form.age,
                    password: this.form.password
                };
                this.$store.dispatch('register', formData);
                // this.userSaved = true;
            },
            getValidationClass (fieldName) {
                const field = this.$v.form[fieldName];

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },           
        },
        validations: {
            form: {
                firstName: {
                    required,
                    minLen: minLength(3)
                },
                lastName: {
                    required,
                    minLen: minLength(3)
                },                
                email: {
                    required,
                    email,
                    unique: val => {
                        if (val === '') return true;
                        return axios.get('/users.json?orderBy="email"&equalTo="' + val + '"')
                            .then(res => {
                                // console.log(res);
                                return Object.keys(res.data).length === 0;
                            })
                    }
                },
                age: {
                    required,
                    numeric,
                    minVal: minValue(18)
                },
                password: {
                    required
                },
                c_password: {
                    sameAs: sameAs('password')
                }                
            }
        }
    }
</script>

<style lang="scss">
    .md-layout {
        justify-content: center;
    }
</style>
