<template>
    <div class="author-card">
        <md-avatar class="md-large">
            <img src="@/assets/default_avatar.svg" alt="Anonymous">
        </md-avatar>

        <div class="author-card-info">
            <span>{{ userData.firstName + ' ' + userData.lastName }}</span>
            <div class="author-card-links">
                <a :href="userData.email" target="_blank" rel="noopener">{{ userData.email }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserCard",
        props: ['userData']
    }
</script>

<style lang="scss">
    .author-card {
        padding: 8px 16px;
        display: flex;
        align-items: center;

        .md-avatar {
            margin-right: 16px;
        }

        .author-card-info {
            display: flex;
            flex-flow: column;
            flex: 1;
        }

        span {
            font-size: 16px;
        }

        .author-card-links {
            display: flex;

            a + a {
                margin-left: 8px;
            }
        }
    }
</style>
