<template>
  <div id="app">
    <md-app md-mode="fixed">
      <md-app-toolbar class="md-dense md-primary">
        <div class="md-toolbar-row">
          <div class="md-toolbar-section-start">
            <div class="md-title">Authentication</div>
            <md-tabs md-sync-route class="md-primary">
              <md-tab id="tab-home" md-label="Home" to="/" exact></md-tab>
              <md-tab id="tab-dashboard" md-label="Dashboard" to="/dashboard"></md-tab>
              <md-tab id="tab-about" md-label="About" to="/about"></md-tab>
            </md-tabs>
          </div>
          <div class="md-toolbar-section-end">
            <md-button v-if="!auth" class="md-button" to="/login">Login</md-button>
            <md-button v-if="!auth" class="md-button" to="/register">Register</md-button>
            <div v-if="userInfo">
              <transition name="slide" mode="out-in">
                <md-menu md-size="big" md-align-trigger :md-active.sync="toggleCard">
                  <md-button md-menu-trigger class="user-menu">
                    <md-icon>account_circle</md-icon>
                    {{ userInfo.firstName + ' ' + userInfo.lastName }}
                  </md-button>

                  <md-menu-content>
                    <user-card :userData="userInfo"></user-card>
                  </md-menu-content>
                </md-menu>
              </transition>
            </div>
            <md-button v-if="auth" class="md-button" to="" @click="onLogout">Logout</md-button>
          </div>

        </div>
      </md-app-toolbar>
      <md-app-content>
        <transition name="slide" mode="out-in">
          <router-view>

          </router-view>
        </transition>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
  import UserCard from '@/components/UserCard.vue';

  export default {
    data() {
      return {
        toggleCard: false
      }
    },
    computed: {
      auth() {
        return this.$store.getters.isAuthenticated;
      },
      userInfo() {
        return this.$store.getters.user;
      }
    },
    methods: {
      onLogout() {
        this.$store.dispatch('logout');
      }
    },
    created () {
      this.$store.dispatch('tryAutoLogin');
    },
    components: {
      'user-card': UserCard
    }
  }
</script>

<style lang="scss">
  @import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");
  @import url("//fonts.googleapis.com/icon?family=Material+Icons");
  @import "~vue-material/dist/theme/engine"; // Import the theme engine

  @include md-register-theme("default", (
    primary: md-get-palette-color(indigo, A400), // The primary color of your application
    accent: md-get-palette-color(amber, A400) // The accent or secondary color
  ));

  @import "~vue-material/dist/theme/all"; // Apply the theme

  #app {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .md-app {
    min-height: 100vh;
  }
  .slide-enter-active {
      animation: slide-in .2s ease-out forwards;   
  }
  .slide-leave-active {
      animation: slide-out .2s ease-in forwards;
      // position: absolute;
  }

  @keyframes slide-in {
      from {
          transform: translateY(20px);
          opacity: 0;
      }
      to {
          transform: translateY(0);
          opacity: 1;
      }
  }
  @keyframes slide-out {
      from {
          transform: translateY(0);
          opacity: 1;
      }
      to {
          transform: translateY(20px);
          opacity: 0;
      }
  }  
</style>
